{% extends 'base.html' %}
{% load static %}


{% block 'content' %}

            <!-- cart start -->
            <div class="row mt-3">
                <div class="col-md-9">
                    <h5 class="bg-body-secondary p-2">Customer Details</h5>
                    <p><strong>Email:sid@gmail.com</strong></p>
                    <h5 class="bg-body-secondary p-2">Shipping Details</h5>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="#" alt="" class="img-thumbnail">
                        </div>
                        <div class="col-md-8">
                            <p><strong>Name: abcd</strong></p>
                            <p><strong>Price: Abcd</strong></p>
                            <p><strong>Category: Abcd</strong></p>
                            <p><strong>Details: Abcd</strong></p>
                            <p><strong>Quantity: 1</strong></p>
                            <button class="btn btn-primary">Remove</button>
                            <button class="btn btn-danger"><strong>-</strong></button>
                            <input type="text" class="" value="1">
                            <button class="btn btn-success"><strong>+</strong></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h5 class="bg-body-secondary p-2">Total Amount</h5>
                    <p><strong>Total (2 Items) : 2 Rs</strong></p>
                    <button class="btn btn-primary">Place Order</button>
                </div>
            </div>
            <!-- cart end  -->
{% endblock 'content' %} 